<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <form action="/save" method="post">
        <p>
            <label for="">用户名</label>
            <input type="text" name="username"/>
        </p>
        <p>
            <label for="">密码</label>
            <input type="password" name="pwd"/>
        </p>
        <p>
            <label for="">名字</label>
            <input type="text" name="name"/>
        </p>
        <p>
            <input type="submit"/>
        </p>
    </form>
</body>
</html>